@use 'src/scss/globals.module' as globals;

.modal {
    width: 600px;
    max-width: 90vw;
    min-height: 250px;
    padding: globals.$spacing--xl;
    height: 600px;
    border: 0;
    border-radius: globals.$spacing-unit;
    position: relative;
    margin: auto;
    box-shadow: hsl(0 0% 0% / 10%) 0 0 0.5rem 0.25rem;

    &::backdrop {
        background: hsl(0 0% 0% / 50%);
      }
      
      &-close-btn {
        font-size: globals.$text--sm;
        position: absolute;
        top: 0.25em;
        right: 0.25em;
      }

      &-close-icon{
        width: 100%;
        display:  flex;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
      }
  }
  
  