.modal {
    width: 568px;
    max-width: 70vw;
    padding: $spacing--xl;
    height: auto;
    border: 0;
    border-radius: 0.5rem;
    position: relative;
    box-shadow: hsl(0 0% 0% / 10%) 0 0 0.5rem 0.25rem;

    &::backdrop {
        background: hsl(0 0% 0% / 50%);
      }
      
      &-close-btn {
        font-size: 0.75em;
        position: absolute;
        top: 0.25em;
        right: 0.25em;
      }

      &-close-icon{
        width: 100%;
        display:  flex;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
      }
  }
  
  