@use 'src/scss/globals.module' as globals;

.l-main {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    margin-bottom: 5.25rem;
}

.l-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    @include globals.max-screen-size;

    @include globals.breakpoint(md) {
        padding: globals.$spacing--xl globals.$spacing--xl 0;
    }
}

.l-features {
    color: $light-text;
    width: 100%;
    display: block;
    padding-bottom: globals.$spacing--3xl;
    @include globals.max-screen-size;
    &-title {
        width: 100%;
        display: flex;
        padding: 0 globals.$spacing--3xl;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
       
        h2{
            font-size: globals.$text--xl;
            line-height: 2.5;
            font-weight: bold;
        }
    }

    &-slot {
        position: relative;
        display: flex;
        align-content: flex-start;
        flex-wrap: wrap;
        position: relative;
        width: 100%;
        padding: 0 globals.$spacing--2xl;
        flex-direction: column;
        gap: 5px;
        @include globals.max-screen-size;

        @include globals.breakpoint(md){
            flex-direction: row;
            padding: 0 globals.$spacing--3xl;
        }

        &--content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 1;
            display: flex;
            min-height: 1px;
            position: relative;
            background-color: #2B0F47;
            box-shadow: 0 2px 10px rgba(0,0,0,0.1);
            border: 1px solid globals.$primary;
            border-radius: 5px;
            padding: globals.$spacing--xl;

            &_icon {
                .MuiSvgIcon-root {
                    width: 34px;
                    height: 34px;
                    fill: globals.$light-text;
                    margin-bottom: globals.$spacing--md;
                }

                width: 100%;
                margin-bottom: globals.$spacing--md;
            }

            &__sub-header {
                margin-bottom: globals.$spacing--md;

                h4 {
                    font-size: 22px;
                    font-weight: bold;
                    color: globals.$light-text;
                }
            }

            &_p {
                width: 100%;
                box-sizing: border-box;
                height: 250px;
                overflow-y: auto;
                max-height: 200px;
            }
        }
    }

}

.l-hero {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 100px;
    box-sizing: inherit;
    padding: globals.$spacing--3xl globals.$spacing--4xl;
    color: $light-text;
    @include globals.max-screen-size;

    &-background {
        width: 100%;
        height: 450px;

        img {
            width: 100%;
            object-fit: cover;
            height: 100%;
            border-radius: globals.$spacing-unit;
        }
    }
}

.l-integrations {
    width: 100%;
    display: block;
    position: relative;
    margin: auto;
    box-sizing: border-box;
    @include globals.max-screen-size;

    @include globals.breakpoint(md) {
        padding: globals.$spacing--xl globals.$spacing--xl 0;
    }

    &-brokerages {
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;
        gap: 20px;
        @include globals.breakpoint(md) {
            padding: 0 globals.$spacing--3xl;
        }

        &-container {
            width: 14.285%;
            display: block;
            position: relative;
            box-sizing: border-box;
            height: auto;
            flex: 1;

            img {
                width: 110px;
                display: inline-block;
                vertical-align: middle;
                border: none;
                border-radius: 0;
                box-shadow: none;
                height: auto;
                max-width: 100%;
            }
        }
    }

    &-title {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        h2{
            font-size: globals.$text--lg;
            line-height: 2.5;
            font-weight: bold;
            text-align: center;
        }
    }
}