@use 'src/scss/globals.module' as globals;
.l-main{
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    margin-bottom: 5.25rem;
}

.l-section{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    @include globals.max-screen-size;
    @include globals.breakpoint(md){
        padding: globals.$spacing--xl globals.$spacing--xl 0;
    }
}

.l-hero{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 100px;
    box-sizing: inherit;
    padding: globals.$spacing--3xl globals.$spacing--4xl;

    &-content{
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;

        &-title{
            font-size: globals.$text--2xl;
            color: globals.$primary;
            font-weight: 700;
            line-height: 1.2em;
            margin-bottom: globals.$spacing--lg;
        }

        &-sub-header{
            font-size: globals.$text--sm;
            font-weight: 500;
            margin-bottom: globals.$spacing--lg;
        }

        &-divider{
            width: 40%;
            color: globals.$primary;
            align-self: center;
            height: 20px;
        }

        &-cta{
            height: 36px;
            width: 150px;
            padding: 15px 20px;
            line-height: 1;
            font-size: 20px;
            display: inline-flex;
        }
    }

    &-background{
        width: 45%;
        // height: 300px;
        max-width: 40%;
        img{
            width: 100%;
            object-fit: cover;
            height: 100%;
            border-radius: globals.$spacing-unit;
        }
    }
}