@use 'src/scss/globals.module' as globals;

.l-footer {
    width: 100%;
    padding: $spacing--xl;
    display: block;
    position: relative;
    @include globals.max-screen-size;

    &-container{
        display: block;
        width: 100%;
    }

    &-section{
        width: inherit;
        box-sizing: border-box;
        ul {
            display: flex;
            gap: 5rem;
            justify-content: center;
            align-items: center;
            color: $dark-text;
            @include globals.reset-list // Reset default list styles
        }
        
        li {
            cursor: pointer;
            transition: color 0.3s ease;
        }
        
        li:hover {
            color: $primary;
        }
    }
    
}


