@use 'src/scss/globals.module' as globals;

.l-main{
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    margin-bottom: 5.25rem;
}

.l-section{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    @include globals.max-screen-size;
    @include globals.breakpoint(md){
        padding: globals.$spacing--xl globals.$spacing--xl 0;
    }
}

.l-hero {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 100px;
    box-sizing: inherit;
    padding: globals.$spacing--3xl globals.$spacing--4xl;
    color: $light-text;
    @include globals.max-screen-size;

    &-background {
        width: 100%;
        height: 450px;

        img {
            width: 100%;
            object-fit: cover;
            height: 100%;
            border-radius: globals.$spacing-unit;
        }
    }
}

.l-features {
    background-color: #F3F3F3;
    width: 100%;
    display: block;
    padding: globals.$spacing--3xl;

    &-title {
        font-size: globals.$text--lg;
        line-height: 2.5;
        font-weight: bold;
        text-align: center;
    }

    &-slot {
        position: relative;
        display: flex;
        align-content: flex-start;
        flex-wrap: wrap;
        position: relative;
        width: 100%;
        padding: 0 globals.$spacing--xl;
        flex-direction: column;

        @include globals.breakpoint(md){
            flex-direction: row;
            padding: 0 globals.$spacing--2xl;
        }

        &--content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 1;
            display: flex;
            min-height: 1px;
            max-height: 250px;
            position: relative;
            padding: globals.$spacing--xl;

            &_icon {
                .MuiSvgIcon-root {
                    width: 34px;
                    height: 34px;
                    fill: globals.$primary;
                    margin-bottom: globals.$spacing--md;
                }

                width: 100%;
                margin-bottom: globals.$spacing--md;
            }

            &__sub-header {
                margin-bottom: globals.$spacing--md;

                h4 {
                    font-size: 22px;
                    font-weight: bold;
                    color: #354050;

                }
            }

            &_p {
                width: 100%;
                box-sizing: border-box;
                height: 250px;
                overflow-y: auto;
                max-height: 200px;
            }
        }
    }

}