.register-page {
    max-height: 100vh;
    background-color: #f9fafb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.register-card {
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    padding: 4rem;
    max-width: 42rem;
    width: 100%;

    .title {
        font-size: 1.5rem;
        font-weight: 700;
        color: #1f2937;
        text-align: center;
        margin-bottom: 0.5rem;
    }

    .subtitle {
        font-size: 0.9rem;
        color: #6b7280;
        text-align: center;
        margin-bottom: 1.5rem;

        .link {
            color: #4f46e5;
            font-weight: 500;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .social-buttons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin-bottom: 1.5rem;
    }

    .social-button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        padding: 0.6rem;
        border: 2px solid;
        border-radius: 0.375rem;
        background-color: #fff;
        font-weight: 500;
        transition: all 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
            background-color: currentColor;
            color: #fff;

            .icon,  span{
                color: white;
            }
        }

        .icon {
            font-size: 1rem;
            color: inherit;
        }

    }


    .divider {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;

        .line {
            flex-grow: 1;
            height: 1px;
            background-color: #d1d5db;
        }

        .or {
            margin: 0 1rem;
            font-size: 0.875rem;
            color: #9ca3af;
        }
    }

    .register-form {
        .form-group {
            margin-bottom: 1rem;

            label {
                display: flex;
                color: #000c3f;
                font-size: 16px;
                font-weight: 700;
                line-height: 1.5;
                margin-bottom: 0.25rem;
            }

            input {
                width: 100%;
                padding: 0.5rem 0.75rem;
                border: 1px solid #d1d5db;
                border-radius: 0.375rem;
                font-size: 0.875rem;

                &:focus {
                    outline: none;
                    border-color: #6366f1;
                    box-shadow: 0 0 0 1px #6366f1;
                }
            }

            .required {
                color: #ef4444;
            }
        }

        .name-fields {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2.5rem;
        }

        .password-label {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .toggle-password {
                background: none;
                border: none;
                font-size: 0.75rem;
                color: #4f46e5;
                cursor: pointer;
                display: flex;
                align-items: center;
                gap: 0.25rem;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .submit-button {
            width: 50%;
            background-color: #4f46e5;
            color: white;
            padding: 0.5rem;
            font-weight: 600;
            border: none;
            border-radius: 0.375rem;
            cursor: pointer;
            transition: background-color 0.2s ease;

            &:hover {
                background-color: #4338ca;
            }
        }
    }

    .terms {
        font-size: 0.75rem;
        color: #6b7280;
        text-align: center;
        margin-top: 1rem;

        .link {
            color: #4f46e5;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}