@use 'src/scss/globals.module' as globals;

.dashboardContainer {
  display: flex;
  height: 100vh;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

.content {
  flex-grow: 1;
  padding: 2rem;
  background-color: #F9FAFB;
  border-top-right-radius: globals.$spacing--md;
  border-bottom-right-radius: globals.$spacing--md;
}