$color-sidebar-active: #3498DB;
$color-main-bg: #F9FAFB;
$container-background: #d9e4e8;

.dashboardContainer {
  display: flex;
  height: 100vh;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

.content {
  flex-grow: 1;
  padding: 2rem;
  background-color: #F9FAFB;
  border-top-right-radius: $spacing--md;
  border-bottom-right-radius: $spacing--md;
}