@use '../settings/system.settings' as *;
@use '../settings/colors.hc.settings' as *;
@use 'sass:map';
// helper mixins ie predefined styles
//
/// focus events
/// Usage: @include on-event;
@mixin on-focus($self: false) {
  @if $self {
    &,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:active,
    &:focus {
      @content;
    }
  }
}
// unstyle list
// Usage: @include reset-list;
@mixin reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
// media query mixin
// use the base-breakpoints map
// usage: @include breakpoint($breakpoint);
@mixin breakpoint($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media (min-width: #{map.get($breakpoints, $breakpoint)}) {
      @content;
    }
  } @else {
    @warn 'error value does not exist in $base-breakpoints';
  }
}

@mixin button-reset {
  cursor: pointer;
  border: none;
  user-select: none;
  min-width: 0;
  background-color: inherit;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &::-moz-focus-inner {
    border: 0;
  }
}
// ios / safari frosted glass effect
// only supported on Edge, Safari
@mixin backdrop-filter {
  @supports (backdrop-filter: saturate(180%) blur(20px)) {
    @content;
  }
}

@mixin frosted-glass($color, $opacity: false) {
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba($color, 0.8);
  @if $opacity {
    background-color: rgba($color, $opacity);
  }
}

@mixin image-overlay($color) {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(180deg, rgba($color, 0.245) 0%, rgba($color, 0.975) 100%);

  @include breakpoint(md) {
    background: linear-gradient(180deg, rgba($color, 0) 0%, rgba($color, 0.965) 90%);
  }
}

// contain screen size
@mixin max-screen-size {
  width: 100%;
  max-width: $max-screen-size;
  margin: auto;
}
