.l-main{
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    margin-bottom: 5.25rem;
}

.l-section{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    @include max-screen-size;
    @include breakpoint(md){
        padding: $spacing--xl $spacing--xl 0;
    }
}

.l-hero{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 100px;
    box-sizing: inherit;
    padding: $spacing--3xl $spacing--4xl;

    &-content{
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;

        &-title{
            font-size: $text--2xl;
            color: $primary;
            font-weight: 700;
            line-height: 1.2em;
            margin-bottom: $spacing--lg;
        }

        &-sub-header{
            font-size: $text--sm;
            font-weight: 500;
            margin-bottom: $spacing--lg;
        }

        &-divider{
            width: 40%;
            color: $primary;
            align-self: center;
            height: 20px;
        }

        &-cta{
            height: 36px;
            width: 150px;
            padding: 15px 20px;
            line-height: 1;
            font-size: 20px;
            display: inline-flex;
        }
    }

    &-background{
        width: 45%;
        // height: 300px;
        max-width: 40%;
        img{
            width: 100%;
            object-fit: cover;
            height: 100%;
            border-radius: $spacing-unit;
        }
    }
}

.l-features {
    background-color: #F3F3F3;
    width: 100%;
    display: block;
    padding: $spacing--3xl;

    &-title {
        font-size: $text--lg;
        line-height: 2.5;
        font-weight: bold;
        text-align: center;
    }

    &-slot {
        position: relative;
        display: flex;
        align-content: flex-start;
        flex-wrap: wrap;
        position: relative;
        width: 100%;
        padding: 0 $spacing--xl;
        flex-direction: column;

        @include breakpoint(md){
            flex-direction: row;
            padding: 0 $spacing--2xl;
        }

        &--content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 1;
            display: flex;
            min-height: 1px;
            max-height: 250px;
            position: relative;
            padding: $spacing--xl;

            &_icon {
                .MuiSvgIcon-root {
                    width: 34px;
                    height: 34px;
                    fill: $primary;
                    margin-bottom: $spacing--md;
                }

                width: 100%;
                margin-bottom: $spacing--md;
            }

            &__sub-header {
                margin-bottom: $spacing--md;

                h4 {
                    font-size: 22px;
                    font-weight: bold;
                    color: #354050;

                }
            }

            &_p {
                width: 100%;
                box-sizing: border-box;
                height: 250px;
                overflow-y: auto;
                max-height: 200px;
            }
        }
    }

}