.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }

  .l-header {
    color: black;
    font-size: 16px; 
    text-decoration: none;
  }
  
  .l-active-header {
    color: globals.$primary !important; 
    text-decoration: underline;
    font-weight: bold;
  }
  