
// SCSS Functions and Mixins
// ----------
@use './tools/functions.tool';
@use './tools/mixins.tool';
// Variables
// ----------
@use './settings/system.settings';
// Base and Resets
// ----------
@use './base/normalize.base';
@use './base/base.base';
@use './base/typography.base';
// Objects
// ----------
@use './objects/flexbox-grid.object';
#root {
  width: 100vw;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

